html, body {
    font-family: Arial;;
    background-image: linear-gradient(to bottom,#000000,#000000,#060125,#140336,#512BAA,#D168FF,#d676ff);
    background-repeat:repeat-y;
    color:white;
    padding: 2rem;
    scroll-behavior: smooth;
}



.imgsize {
    height: 60%;
    width: 60%;
}

.imgsize2 {
    height:30%;
    width:30%;
}

.imgsize3 {
    height:20%;
    width:20%;
}

.imgsize4 {
    height:40%;
    width:40%;
}

.imgsize5 {
    height:15%;
    width:15%;
}




.imggroup {
    display: flex;
    justify-content: flex-start;
}

.imggroup2 {
    display: flex;
    justify-content: center;
}

  /*intro are different speeds*/
.intro1 {
    font-size: 3.25em;
    text-align: center;
    font-family: Arial;
    animation-duration: 1s;
    animation-name: slidein;
}

.intro2 {
    font-size: 3.25em;
    text-align: center;
    animation-duration: 2s;
    animation-name: slidein;
}



.name {
    display:flex;
    justify-content: center;
    top:35%;
    left:20%;
    letter-spacing: 5px;
    font-family: Arial;
    background: linear-gradient(20deg,#4B494A,#858182,#FFFFFF,#512BAA,#D168FF,#d676ff,#D168FF,#512BAA,#FFFFFF,#858182,#4B494A); /*#C1B5A8*/ /**/
    background-size:400%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: animate 10s linear infinite;
}

@keyframes animate{
    0%{
        background-position:0%;
    }
    100%{
        background-position:400%;
    }
}

.intro3 {
    font-size: 4.0em;
    text-align: center;
    font-family: Arial;
    animation-duration: 3s;
    animation-name: slidein;
}
 /* Section in charge of animation*/

.text-box {
    /*background: rgba(0, 0, 0, 50%);*/
    text-align: center;
    font-size: 130%;
    opacity: 100%;
    font-family: Arial;
    padding-top: 18rem;
}


.text-box2 {
    text-align: center;
    font-size: 130%;
    opacity: 100%;
    font-family: Arial;
    padding-top: 20rem;

}

.text-box3 {
    text-align: center;
    font-size: 200%;
    opacity: 100%;
    font-family: Arial;
    padding-top: 4rem;

}

.text-box4 {
    text-align: center;
    font-size: 190%;
    opacity: 100%;
    font-family: Arial;
    padding-top: 20rem;

}


.text-box5 {
    text-align: center;
    font-size: 190%;
    opacity: 100%;
    font-family: Arial;
    padding-top: 20rem;
    padding-bottom: 20rem;

}


#finalcontact {
    display: flex;
    justify-content: center;
    padding: 2rem;
    font-size: 220%;
    background: rgba(243, 38, 233, 0.425);
    border-radius: 1rem;
    animation-duration: 3s;

}

#finalcontact2 {
    display: flex;
    justify-content: center;
    padding: 2rem;
    font-size: 180%;
    background: rgba(243, 38, 233, 0.425);
    border-radius: 1rem;
    width: auto;

}

.navbar {
    display: flex;
    justify-content:flex-start;
    justify-content: space-evenly;
    font-size: 2rem;
    text-decoration: none;

}

.navbar2 {
    display: flex;
    justify-content: right;
    font-size: 2rem;
    text-decoration: none;
}

.navbar3 {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    text-decoration: none;
    font-style: bold;
}

#resume {
    padding-top: 15rem;
}

.hori {
    display: flex;
    justify-content: flex-start;
    justify-content: space-between;
}


/*Improve contact me box*/
.contactme-box {
    display: flex;
    justify-content: center;
    background: rgba(254, 131, 248, 0.075);
    color: white;
    font-family: Arial;
    font-size: 200%;
    text-align: center;
    text-decoration:none;

}



@keyframes slidein {
from {
    margin-right: 100%;
    width: 300%;
    }
  
to {
    margin-left: 0%;
    width: 100%;
    }
}


@keyframes leftslidein {
    from {
        margin-right: 100%;
        width: 300%;
        }
      
    to {
        margin-left: 0%;
        width: 100%;
        }
}    

@-webkit-keyframes snake {
    to {
      stroke-dashoffset: 370%;
    }
  }
  @keyframes snake {
    to {
      stroke-dashoffset: 370%;
    }
  }

.reveal {
    position: relative;
    transform: translateY(150x);
    opacity: 0;
    transition: 2s all ease;
}


.reveal.active {
    transform: translateY(0);
    opacity: 1;
}
