html, body {
    font-family: Arial;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(#0E0C11,#0E0C11,#0E0C11,#140336,#060125,#FFFFFF,#FFFFFF,#CDB785, #d3b878, #CCB686);
    background-repeat: repeat;
    color:white;
}
  
.imgsize {
    height: 90%;
    width: 90%;
}

.imgsize2 {
    height:40%;
    width:40%;
}

  /*intro are different speeds*/
.intro1 {
    font-size: 3.25em;
    text-align: center;
    font-family: Arial;
    animation-duration: 1s;
    animation-name: slidein;
}
  
.intro2 {
    font-size: 3.25em;
    text-align: center;
    animation-duration: 2s;
    animation-name: slidein;
}

.name {
    display:flex;
    justify-content: center;

    top:35%;
    left:20%;
    letter-spacing: 5px;
    font-family: Arial;
    background: linear-gradient(100deg, #D6C9DC,#D6C9B9,#DDD69B,#D6C956,#D6C900);
    background-size:400%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: animate 10s linear infinite;
}

@keyframes animate{
    0%{
        background-position:0%;
    }
    100%{
        background-position:400%;
    }
}



.intro3 {
    font-size: 4.0em;
    text-align: center;
    font-family: Arial;
    animation-duration: 3s;
    animation-name: slidein;
}
 /* Section in charge of animation*/

.text-box {
    background: rgba(0, 0, 0, 50%);
    text-align: center;
    opacity: 100%;
    font-family: Arial;
}







.contactme-box {
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    color: white;
    font-family: Arial;
    font-size: 210%;
    opacity: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}



@keyframes slidein {
from {
    margin-right: 100%;
    width: 300%;
    }
  
to {
    margin-left: 0%;
    width: 100%;
    }
}


@keyframes leftslidein {
    from {
        margin-right: 100%;
        width: 300%;
        }
      
    to {
        margin-left: 0%;
        width: 100%;
        }
}    



.reveal {
    position: relative;
    transform: translateY(150x);
    opacity: 0;
    transition: 2s all ease;
}


.reveal.active {
    transform: translateY(0);
    opacity: 1;
}
